.stock-info{
    margin-top: 10px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
}

.stock-info-title{
    color: grey;
}

#sell-button{
    text-decoration: none;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    color: #1f1c2e;
    font-weight: 700;
    width: 48%;
    margin-left: 2%;
    margin-bottom: 15px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
    border: 1px solid white;
}

#sell-button:hover{
    background-color: rgb(35, 98, 241);
    color: white;
}

#sell-button:hover ~ #buy-button{
    border: 1px solid white;
    background-color: white;
    color: #1f1c2e;
}

#buy-button{
    text-decoration: none;
    width: 48%;
    margin-right: 2%;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    background-color: rgb(35, 98, 241);
    display: flex;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
    border: 1px solid rgb(35, 98, 241);
}